@using ZSCloud.Models;
@{
    ViewBag.Title = "Home Page";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>Better Solutions for Your Business</h1>
                <h2>We Are a Team of Talented Developers and Designers Making Websites and Providing Software Services for Your Business.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-12">
                    <p>
                        ZSIcon is a custom software and Web, CMS development company, founded in 2012.
                        ZSIcon Head Office in Haroon Bahria, karachi,
                        we facilitate to our Employee to work remotly from different cities.
                        ZSIcon strives to ensure a better tomorrow for everyone on the team and take on challenges that help us grow one step closer to our mission
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Ideas that connect | Innovation that delivers</li>
                        <li>
                            <i class="ri-check-double-line"></i> we excel in the planning and delivery of comprehensive
                            IT solutions for Business
                        </li>
                        <li><i class="ri-check-double-line"></i> ZSIcon offers its employees the knowledge, skills and proper training enabling them to perform better and grow.</li>
                    </ul>
                </div>
                @*<div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>*@
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Why Us Section ======= -->
    @*<section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

                        <div class="content">
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />

                           <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
                            <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                            </p>
                        </div>

                        <div class="accordion-list">
                            <ul>
                                <li>
                                    <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                        <p>
                                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                        <p>
                                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
                </div>

            </div>
        </section>*@<!-- End Why Us Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="assets/img/skills.png" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>We are Really Care of Our Client</h3>
                    <p class="fst-italic">
                        Responsive to Provide Services.
                    </p>

                    <div class="skills-content">

                        <div class="progress">
                            <span class="skill">Cloud Base (Web Designing and Developement Solution) <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CMS (Content Management System) Like ,WordPress, Shopify, Joomla<i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">SEO (Search Engin Optimization)<i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Support 24/7<i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End Skills Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>
                    We are the leading Nearshore and onshore Technology Solutions company. We architect and engineer scalable and high-performing software solutions to meet the business challenges of our clients.
                </p>
                <p>
                    Using our tech expertise and cross-industry experience, we evolve digital transformation into digital acceleration. Our ultimate goal is to create lasting value throughout the entire digital transformation journey.
                </p>
            </div>

            <div class="row">
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box" style="width:100%">
                        <div class="icon">
                            <i><img src="~/Content/Images/Icons/CloudServices.png" class="center" alt="Cloud Services" width="150" height="150"></i>
                            <h5><a href="">Cloud Base Applications</a></h5>
                        </div>


                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box" style="width:100%">
                        <div class="icon">
                            <i><img src="~/Content/Images/Icons/247.jpg" alt="Cloud Services" width="150" height="150"></i>
                            <h5><a href="">24/7 Technical Support</a></h5>
                        </div>


                    </div>
                </div>


                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box" style="width:100%">
                        <div class="icon">
                            <i><img src="~/Content/Images/Icons/desktop-applications.png" alt="Cloud Services" width="150" height="150"></i>
                            <h5><a href="">Desktop Application</a></h5>
                        </div>


                    </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box" style="width:100%">
                        <div class="icon">
                            <i><img src="~/Content/Images/Icons/CMS.png" alt="Cloud Services" width="150" height="150"></i>
                            <h5><a href="">CMS (Content Management System)</a></h5>
                        </div>


                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3><a class="nav-link scrollto" href="#contact">Call To Action</a></h3>
                    <p> Let's Talk About Your Project, We are here to Provide Software for your Business in the digital world</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#contact">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Our Technical Team Experts would Provide you best solution for your business, it makes your business process efficient and Perfect.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="~/Content/Images/w.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>WASIQ KHAN</h4>
                            <span>Chief Executive Officer</span>
                            <p>OUR AIM IS TO PROVIDE BETTER SOLUTION</p>
                            <div class="social">
                                <a href="https://www.facebook.com/wasiq.khan.IT/"><i class="ri-twitter-fill"></i></a>
                                <a href="https://www.facebook.com/wasiq.khan.IT/"><i class="ri-facebook-fill"></i></a>
                                <a href="https://www.facebook.com/wasiq.khan.IT/"><i class="ri-instagram-fill"></i></a>
                                <a href="https://www.facebook.com/wasiq.khan.IT/"> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="~/Content/Images/nasir.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>NASIR ABBAS</h4>
                            <span>Chief Technical Officer</span>
                            <p>We Build a easy Solution for your complex Business</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="~/Content/Images/haziq.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>HAZIQ AHMED</h4>
                            <span>MANAGER</span>
                            <p>The joy of Tech Spirit</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                        <div class="pic"><img src="~/Content/Images/adeel.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>ADEEL SUBHAN</h4>
                            <span>HEAD OF DESIGNING</span>
                            <p>Technology made simple</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->
    <!-- ======= Pricing Section ======= -->
    @*<section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Pricing</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">

                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="box">
                            <h3>Free Plan</h3>
                            <h4><sup>$</sup>0<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li class="na"><i class="bx bx-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li class="na"><i class="bx bx-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="box featured">
                            <h3>Business Plan</h3>
                            <h4><sup>$</sup>29<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="box">
                            <h3>Developer Plan</h3>
                            <h4><sup>$</sup>49<span>per month</span></h4>
                            <ul>
                                <li><i class="bx bx-check"></i> Quam adipiscing vitae proin</li>
                                <li><i class="bx bx-check"></i> Nec feugiat nisl pretium</li>
                                <li><i class="bx bx-check"></i> Nulla at volutpat diam uteera</li>
                                <li><i class="bx bx-check"></i> Pharetra massa massa ultricies</li>
                                <li><i class="bx bx-check"></i> Massa ultricies mi quis hendrerit</li>
                            </ul>
                            <a href="#" class="buy-btn">Get Started</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@
    <!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                @*<p>Mostly asked Question by Client</p>*@
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How can we contact for website or software solution for our business ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-show"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                You can Contact Provided <b style="color:midnightblue">Mobile No +92-343-8063996 or +92-316-2867017</b>  or you can just <b style="color:midnightblue">Email us Support@zsicon.com .</b> We will be there for your help as soon as possible.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Is there a Demo available of your software's ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Sure, you just need to Contact us When you Would need ,Our Team is there for your Support.

                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Would You Get Backup on Daily Basis of Software Database? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, Our Team Maintain Data Backup on Daily Basis, or Our System Auto take Backup Of Your Data.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Would You Provide 24/7 Support of your Client ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Sure, We Will Facilitate Our Client 24/7.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Could you Please let us know , Would You do Setup Remotely, Your Software's ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, We Can Setup Our Software Remotely.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact Us</h2>
                @* <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
            </div>

            <div class="row">

                @*<div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>A108 Adam Street, New York, NY 535022</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+1 5589 55488 55s</p>
                            </div>


                        </div>

                    </div>*@

                <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form class="php-email-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="FirstName" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="SenderEmail" id="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="Subject" id="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" id="txt-message" name="Body" rows="10" required></textarea>
                        </div>
                        <div class="form-group">
                            <label style="color:red" id="lbl-error"></label>
                        </div>
                        <div class="text-center">
                            <input type="button" onclick="sendEmail()" style="background: #47b2e4; color: white;" value="Send Message">
                            @*<button type="button" style="" onclick="sendEmail()">Send Message</button>*@
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>

    function checkValidation() {
        debugger
        var isValid = true;

        if (!$("input[name='FirstName']").val()) {

            $("input[name='FirstName']").addClass('show-border');
            isValid = false;
        }
        else {
            $("input[name='FirstName']").removeClass('show-border');
        }


        if (!$("input[name='SenderEmail']").val()) {

            $("input[name='SenderEmail']").addClass('show-border');
            isValid = false;
        }
        else {
            $("input[name='SenderEmail']").removeClass('show-border');
        }

        if (!$("input[name='Subject']").val()) {

            $("input[name='Subject']").addClass('show-border');
            isValid = false;
        }
        else {
            $("input[name='Subject']").removeClass('show-border');
        }

        if (!$("#txt-message").val()) {

            $("#txt-message").addClass('show-border');
            isValid = false;
        }
        else {
            $("#txt-message").removeClass('show-border');
        }


        return isValid;
    }

    function sendEmail() {
        debugger
        var isValid = checkValidation();

        if (isValid) {
            debugger
            var objSendEmail = {

                FirstName: $('input[name = "FirstName"]').val(),
                SenderEmail: $('input[type="email"]').val(),
                Subject: $('input[name = "Subject"]').val(),
                Body: $('#txt-message').val()
            };

            $.ajax({
                url: 'Home/Index',
                type: 'POST',
                dataType: 'JSON',
                data: objSendEmail,
                success: function (response) {
                    debugger
                    alert(response.message);
                    $("input[name='FirstName']").val('');
                    $("input[name='SenderEmail']").val('');
                    $("input[name='Subject']").val('');
                    $("#txt-message").val('');

                },
                error: function (error) {
                    debugger
                    alert(error.statusText);
                    $("input[name='FirstName']").val('');
                    $("input[name='SenderEmail']").val('');
                    $("input[name='Subject']").val('');
                    $("#txt-message").val('');
                },

            });
            $('#lbl-error').text('');
        } else {
            $('#lbl-error').text('Found Error, Please Insert a valid value.');
        }
    }



    //$(document).ready(function () {


    //});
</script>